USE [master]
GO
/****** Object:  Database [GravityBooks_DWH]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE DATABASE [GravityBooks_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GravityBooks_DWH', FILENAME = N'E:\study\ITI Data Engineering\DWH\Project\data\GravityBooks_DWH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GravityBooks_DWH_log', FILENAME = N'D:\project\logs\GravityBooks_DWH_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GravityBooks_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GravityBooks_DWH]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Date_SK] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Day] [char](2) NOT NULL,
	[DaySuffix] [varchar](4) NOT NULL,
	[DayOfWeek] [varchar](9) NOT NULL,
	[DOWInMonth] [tinyint] NOT NULL,
	[DayOfYear] [int] NOT NULL,
	[WeekOfYear] [tinyint] NOT NULL,
	[WeekOfMonth] [tinyint] NOT NULL,
	[Month] [char](2) NOT NULL,
	[MonthName] [varchar](9) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[QuarterName] [varchar](6) NOT NULL,
	[Year] [char](4) NOT NULL,
	[StandardDate] [varchar](10) NULL,
	[Holiday_name_en] [varchar](50) NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Time_SK] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](0) NOT NULL,
	[Hour] [char](2) NOT NULL,
	[MilitaryHour] [char](2) NOT NULL,
	[Minute] [char](2) NOT NULL,
	[Second] [char](2) NOT NULL,
	[AmPm] [char](2) NOT NULL,
	[StandardTime] [char](11) NULL,
 CONSTRAINT [PK_Dim_Time] PRIMARY KEY CLUSTERED 
(
	[Time_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAddress]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAddress](
	[AddressId_SK] [int] IDENTITY(1,1) NOT NULL,
	[AddressId_BK] [int] NOT NULL,
	[StreetNumber] [varchar](10) NULL,
	[StreetName] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[CountryId_BK] [int] NOT NULL,
	[CountryName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAuthor]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAuthor](
	[AuthorId_SK] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId_BK] [int] NOT NULL,
	[AuthorName] [varchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimBook]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBook](
	[BookId_SK] [int] IDENTITY(1,1) NOT NULL,
	[BookId_BK] [int] NOT NULL,
	[BookTitle] [varchar](400) NULL,
	[ISBN] [varchar](13) NULL,
	[LanguageId_BK] [int] NOT NULL,
	[LanguageCode] [varchar](8) NULL,
	[LanguageName] [varchar](50) NULL,
	[NumOfPages] [int] NULL,
	[PublicationDate] [date] NULL,
	[PublisherIdBK] [int] NOT NULL,
	[PublisherName] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimBookAuthor]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBookAuthor](
	[BridgeBookId_FK] [int] NOT NULL,
	[BridgeAuthorId_FK] [int] NOT NULL,
 CONSTRAINT [pk_comps_book_author] PRIMARY KEY CLUSTERED 
(
	[BridgeBookId_FK] ASC,
	[BridgeAuthorId_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerId_SK] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId_BK] [int] NOT NULL,
	[CustomerFirstName] [varchar](200) NULL,
	[CustomerLastName] [varchar](200) NULL,
	[CustomerEmail] [varchar](350) NULL,
	[StatusId_BK] [int] NULL,
	[AddressStatus] [varchar](30) NULL,
	[AddressId_BK] [int] NULL,
	[CustomerFullname] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomerAddress]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomerAddress](
	[BridgeCustomerId_FK] [int] NOT NULL,
	[BridgeAddressId_FK] [int] NOT NULL,
 CONSTRAINT [pk_comps_customer_address] PRIMARY KEY CLUSTERED 
(
	[BridgeCustomerId_FK] ASC,
	[BridgeAddressId_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimOrderStatus]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOrderStatus](
	[OrderStatusId_SK] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusId_BK] [int] NULL,
	[StatusValue] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShippingMethod]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShippingMethod](
	[MethodId_SK] [int] IDENTITY(1,1) NOT NULL,
	[MethodId_BK] [int] NOT NULL,
	[MethodName] [varchar](100) NULL,
	[ShippingCost] [decimal](6, 2) NULL,
	[st_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_current] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistoryStatusFact]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistoryStatusFact](
	[FactOrderHistoryStatus_SK] [int] IDENTITY(1,1) NOT NULL,
	[HistoryId_BK_DD] [int] NULL,
	[OrderId_DD] [int] NULL,
	[StatusId_FK] [int] NULL,
	[StatusDate_FK] [int] NULL,
	[StatusTime_FK] [int] NULL,
	[DaysInPreviousStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactOrderHistoryStatus_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesFact]    Script Date: 9/7/2025 5:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesFact](
	[FactSalesId_SK] [int] IDENTITY(1,1) NOT NULL,
	[LineId_DD] [int] NOT NULL,
	[OrderId_DD] [int] NOT NULL,
	[CustomerId_FK] [int] NOT NULL,
	[ShippingMethodId_FK] [int] NOT NULL,
	[BookId_FK] [int] NOT NULL,
	[Date_FK] [int] NULL,
	[Time_FK] [int] NULL,
	[LinePrice] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactSalesId_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_Holiday]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_Holiday] ON [dbo].[Dim_Date]
(
	[Holiday_name_en] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_Month]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_Month] ON [dbo].[Dim_Date]
(
	[Month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_StandardDate]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_StandardDate] ON [dbo].[Dim_Date]
(
	[StandardDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_Year]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_Year] ON [dbo].[Dim_Date]
(
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_AmPm]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_AmPm] ON [dbo].[Dim_Time]
(
	[AmPm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Hour]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_Hour] ON [dbo].[Dim_Time]
(
	[Hour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_MilitaryHour]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_MilitaryHour] ON [dbo].[Dim_Time]
(
	[MilitaryHour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Minute]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_Minute] ON [dbo].[Dim_Time]
(
	[Minute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Second]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_Second] ON [dbo].[Dim_Time]
(
	[Second] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_StandardTime]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_StandardTime] ON [dbo].[Dim_Time]
(
	[StandardTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Time]    Script Date: 9/7/2025 5:19:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Dim_Time_Time] ON [dbo].[Dim_Time]
(
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimBookAuthor]  WITH CHECK ADD  CONSTRAINT [fk_book_author_author] FOREIGN KEY([BridgeAuthorId_FK])
REFERENCES [dbo].[DimAuthor] ([AuthorId_SK])
GO
ALTER TABLE [dbo].[DimBookAuthor] CHECK CONSTRAINT [fk_book_author_author]
GO
ALTER TABLE [dbo].[DimBookAuthor]  WITH CHECK ADD  CONSTRAINT [fk_book_author_book] FOREIGN KEY([BridgeBookId_FK])
REFERENCES [dbo].[DimBook] ([BookId_SK])
GO
ALTER TABLE [dbo].[DimBookAuthor] CHECK CONSTRAINT [fk_book_author_book]
GO
ALTER TABLE [dbo].[DimCustomerAddress]  WITH CHECK ADD  CONSTRAINT [fk_customer_address_address] FOREIGN KEY([BridgeAddressId_FK])
REFERENCES [dbo].[DimAddress] ([AddressId_SK])
GO
ALTER TABLE [dbo].[DimCustomerAddress] CHECK CONSTRAINT [fk_customer_address_address]
GO
ALTER TABLE [dbo].[DimCustomerAddress]  WITH CHECK ADD  CONSTRAINT [fk_customer_address_customer] FOREIGN KEY([BridgeCustomerId_FK])
REFERENCES [dbo].[DimCustomer] ([CustomerId_SK])
GO
ALTER TABLE [dbo].[DimCustomerAddress] CHECK CONSTRAINT [fk_customer_address_customer]
GO
ALTER TABLE [dbo].[OrderHistoryStatusFact]  WITH CHECK ADD  CONSTRAINT [status_fk] FOREIGN KEY([StatusId_FK])
REFERENCES [dbo].[DimOrderStatus] ([OrderStatusId_SK])
GO
ALTER TABLE [dbo].[OrderHistoryStatusFact] CHECK CONSTRAINT [status_fk]
GO
ALTER TABLE [dbo].[OrderHistoryStatusFact]  WITH CHECK ADD  CONSTRAINT [statusdate_fk] FOREIGN KEY([StatusDate_FK])
REFERENCES [dbo].[Dim_Date] ([Date_SK])
GO
ALTER TABLE [dbo].[OrderHistoryStatusFact] CHECK CONSTRAINT [statusdate_fk]
GO
ALTER TABLE [dbo].[OrderHistoryStatusFact]  WITH CHECK ADD  CONSTRAINT [statustime_fk] FOREIGN KEY([StatusTime_FK])
REFERENCES [dbo].[Dim_Time] ([Time_SK])
GO
ALTER TABLE [dbo].[OrderHistoryStatusFact] CHECK CONSTRAINT [statustime_fk]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [book_fk] FOREIGN KEY([BookId_FK])
REFERENCES [dbo].[DimBook] ([BookId_SK])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [book_fk]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [cust_fk] FOREIGN KEY([CustomerId_FK])
REFERENCES [dbo].[DimCustomer] ([CustomerId_SK])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [cust_fk]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [date_fk] FOREIGN KEY([Date_FK])
REFERENCES [dbo].[Dim_Date] ([Date_SK])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [date_fk]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [method_fk] FOREIGN KEY([ShippingMethodId_FK])
REFERENCES [dbo].[DimShippingMethod] ([MethodId_SK])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [method_fk]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [time_fk] FOREIGN KEY([Time_FK])
REFERENCES [dbo].[Dim_Time] ([Time_SK])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [time_fk]
GO
USE [master]
GO
